section
    h3 Build automation / task runners
    aside.notes.
      - Build automation in general
        - make
        - ninja
        - phing
        - grunt
        - gulp js
        - ant
        - maven
        - gradle
        - features
          - incremental fields
          - dependency graphs
          - plugins
          - package management
        - tasks
          - concatenation
          - glob-to-glob
          - cache busting 
        - gulp js
          - vinyl fs
          - createReadStream
          - Buffers vs Streams
        - Assets!
          - Rails
          - Laravel
          - Flask
      - sources
        - 
