section
    h1 Build automation / esp. js
    h2 What?

    aside.notes.
      - Build automation in general
        - make
        - ninja
        - phing
        - grunt
        - gulp js
        - ant
        - maven
        - gradle
        - features
          - incremental fields
          - dependency graphs
          - plugins
          - package management
        - gulp js
          - vinyl fs
          - createReadStream
          - Buffers vs Streams
        - Assets!
          - Rails
          - Laravel
          - Flask
      - sources
        - 


